@charset "UTF-8";
.uploadImage {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 480px;
  height: 80px;
  background-size: cover;
  text-align: center;
  cursor: pointer;
}
.uploadImage p {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10px;
  font-size: 14px;
  color: #999999;
}
.uploadImage input#file {
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}
.preview {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-left: 10px;
  width: 120px;
  height: 120px;
  background: #e1e6ed;
  text-align: center;
}
.preview img {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
}
.preview img[src=""] {
  opacity: 0;
  filter: Alpha(0); /* 相容IE8-9 */
}
.preview img:not([src]) {
  opacity: 0;
  filter: Alpha(0); /* 相容IE8-9 */
}
.preview .word {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  line-height: 90px;
  font-size: 14px;
  color: #999999;
  z-index: 0;
}
